<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="../node_modules/socket.io/client-dist/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
</head>
<body>
    <div class="header">
        <div class="title">
            <h1>VCE Goldsmiths</h1>
        </div>
    </div>
        <div class="buttons">
            <a href="../index.html"><button id="button-two">Home</button></a>
        </div>
        <div class="user-info">
            <p id="user-number"></p>
            <p id="users-in-chat"></p>
        </div>
    <div class="message-container">
        <ul id="messages"></ul>
    </div>
    <input type="file" id="incoming-file">
    <div class="name-error-container">
        <p id="name-error-message"></p>
    </div>
    <p id="error-messages"></p>
    <div class="messaging-area">
        <form id="form">
            <input id="input" type="text" autocomplete="off" class="type-message">
            <input id="input-button" type="submit" value="Send" class="send-message">    
        </form>
    </div>
    <script src="../client/chat-script.js"></script>
    <script src="../client/file-sharing-script.js"></script>
</body>
</html>
