<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css" id="theme-link">
    <title>Help</title>
</head>
<body>
    <div class="header-container">
        <div class="title">
            <h1>VCE Goldsmiths</h1>
        </div>
    </div>

    <!--collapsing menu-->
    <div id="chat-menu" class="menu">
        <a href="#" id="closebtn">&times;</a>
        <p class="menu-option"><a href="../index.html">Homepage</a></p>
        <p><a href="../views/chat.html">Chat</a></p>
        <p><a href="../views/theme.html">Theme</a></p>
        <p><a href="../views/help.html">Help</a></p>
        <p><a href="../views/system-status.html">System Status</a></p>
    </div>
    <div id="menu-button" class="menu-button">
        <button id="openbtn">&#9776;</button>
    </div>

    <div class="help-container">
        <h1 id="help-title">Help</h1>
        <h3 id="common-questions">Commonly Asked Questions</h3>
        <div class="all-questions">
            <div class="question">
                <p><b>How do I send a message?</b></p>
                <p>
                    Open the side menu, navigate to 'Chat'. You will be prompted to enter a username,
                    enter a username and select 'Ok'. Navigate to the text bar at the bottom of the
                    display and enter your message. Then click the 'Send' button or press enter on 
                    your keyboard.
                </p>
            </div>
            <div class="question">
                <p><b>How do I send a file for someone to download?</b></p>
                <p>
                    Open the side menu, navigate to 'Chat'. You will be prompted to enter a username,
                    enter a username and select 'Ok'. Navigate to the text bar at the bottom of the
                    display and locate the paperclip symbol to the left. Click on the paperclip and 
                    select a file from your computer. The file will automatically send once 'Open'
                    has been selected.
                </p>
                <p>
                    To download the file, simply click on the underlined file in the messaging area, 
                    the file will then download onto your computer.
                </p>
            </div>
            <div class="question">
                <p><b>How can I change my chat username?</b></p>
                <p>
                    If you want to change your username, open the side menu and select 'Chat', you will
                    then be prompted to enter a new username and will rejoin the chat with this name.
                </p>
            </div>
            <div class="question">
                <p><b>How can I see who is in the chat with me?</b></p>
                <p>
                    In the chat, navigate to the top right where the 'Current user' and 'Users in chat' are
                    located. Click on this button and a list of all current users will pop up. You can close
                    this list by clicking on the 'X'.
                </p>
            </div>
            <div class="question">
                <p><b>How do I turn on dark mode?</b></p>
                <p>
                    Open the side menu, navigate to 'Theme' and click on the 'Toggle dark mode' button. This will
                    turn dark mode on or off depending on your current theme and will remember this setting for 
                    next time.
                </p>
            </div>
            <div class="question">
                <p><b></b></p>
            </div>
        </div>
    </div>

    <script src="../client/collapsing-menu-script.js"></script>
    <script src="../client/dark-mode-script.js"></script>
</body>
</html>