<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css" id="theme-link">
    <title>Help</title>
</head>
<body>
    <div class="header-container">
        <div class="title">
            <h1>VCE Goldsmiths</h1>
        </div>
    </div>
    <h1>Help</h1>

    <!--collapsing menu-->
    <div id="chat-menu" class="menu">
        <a href="#" id="closebtn">&times;</a>
        <p class="menu-option"><a href="../index.html">Homepage</a></p>
        <p><a href="../views/chat.html">Chat</a></p>
        <p><a href="../views/theme.html">Theme</a></p>
        <p><a href="../views/help.html">Help</a></p>
        <p><a href="../views/system-status.html">System Status</a></p>
    </div>
    <div id="menu-button" class="menu-button">
        <button id="openbtn">&#9776;</button>
    </div>
    <script src="../client/collapsing-menu-script.js"></script>
    <script src="../client/dark-mode-script.js"></script>
</body>
</html>