html {
    width: 400px;
    height: 600px;
}

.title {
    text-align: center;
    background-color: #55BCBC;
    padding: 8px;
    margin-bottom: 10px;
}

/*---index page button styling---*/
.index-button-container {
    text-align: center;
    padding-top: 150px;
}

#button-one {
    width: 75%;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #55BCBC;
    border-radius: 5px;
    margin-bottom: 15px;
}

#button-one:hover {
    background-color: #227d7d;
    color: white;
}

/*---chat page styling---*/
.user-info {
    background-color: #c1c1c1;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 369px;
    margin-bottom: 5px;
}

#button-two {
    width: 25%;
    padding: 5px;
    cursor: pointer;
    border: none;
    background-color: #55BCBC;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 200px;
}

#button-two:hover {
    background-color: #227d7d;
    color: white;
}

.type-message {
    width: 75%;

}

.send-message {
    width: 20%;
    cursor: pointer;
    border: none;
    background-color: #55BCBC;
    border-radius: 5px;
    height: 25px;
    margin-left: 5px;
}

.send-message:hover {
    background-color: #227d7d;
    color: white;
}

.info-container {
    display: flex;
}

#form {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    padding: 8px;
    margin-left: 5px;
    display: flex; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px);
}

#messages { 
    list-style-type: none; 
    margin-bottom: 10px; 
    padding: 0; 
    height: 300px;
}

#messages > li { 
    padding: 0.5rem 1rem; 
}

#messages > li:nth-child(odd) { 
    background: #efefef; 
}

.message-container {
    overflow-y: auto;
    height: 310px;
}

/*---error styling---*/
.username-error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fd9090;
    text-align: center;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat-errors {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fd9090;
    text-align: center;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-----file sharing styling-----*/
.file-upload-button {
    position: fixed; 
    bottom: 50px; 
    left: 10px; 
    padding: 8px;
    margin-left: 5px;
    background-color: #0f83ff;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

  .file-upload-button:hover {
    background-color: #9bcbff;
    color: black;
}
  
input[type="file"] {
    display: none;
}