html {
    width: 400px;
    height: 600px;
}

.title {
    text-align: center;
    background-color: #55BCBC;
    padding: 8px;
    margin-bottom: 10px;
}

/*---index page button styling---*/
.index-button-container {
    text-align: center;
    padding-top: 150px;
}

#button-one {
    width: 75%;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #55BCBC;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: 0.6s;
}

#button-one:hover {
    background-color: #227d7d;
    color: white;
}

/*---chat page styling---*/
.messaging-area {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

#form {
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    background-color: #efefef;
}

.type-message {
    width: 64%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    margin-right: 5px;
}

.send-message {
    width: 20%;
    height: 31px;
    border-radius: 5px;
    border: none;
    background-color: #55BCBC;
    color: black;
    cursor: pointer;
    transition: 0.6s;
}

.send-message:hover {
    background-color: #227d7d;
    color: white;
}

.file-upload-button {
    background-color: #0f83ff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 20px;
}

#paperclip {
    font-size: 20px;
    font-weight: 700;
}
  
.message-container {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 400px;
    overflow-y: auto;
    margin-top: 41px;
    border-radius: 5px;
}
  
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages > li { 
    padding: 0.5rem 1rem; 
    word-break: break-word;
}

#messages > li:nth-child(odd) { 
    background: #efefef; 
}

/*-----file sharing styling-----*/
.file-upload-button {
    background-color: #0f83ff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 20px;
}

#paperclip {
    font-size: 20px;
    font-weight: 700;
}

.file-upload-button:hover {
    background-color: #9bcbff;
    color: black;
}
  
input[type="file"] {
    display: none;
}

/*---error styling---*/
.username-error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fd9090;
    text-align: center;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat-errors {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fd9090;
    text-align: center;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-----menu styling-----*/
#chat-menu {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    background-color: #f1f1f1;
    overflow-x: hidden;
    transition: 0.5s;
}

#menu-button {
    position: fixed;
    z-index: 1;
    top: 30px;
    left: 20px;
}

#openbtn {
    background-color: #efefef;
    border: none;
    border-radius: 2px;
    padding: 5px 8px 5px 8px;
    font-size: 16px;
    transition: 0.6s;
}

#openbtn:hover {
    background-color: #c0bebe;
    cursor: pointer;
}

#closebtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 5px 8px 5px 8px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    background-color: #c0bebe;
    border-radius: 2px;
    transition: 0.6s;
}

#closebtn:hover {
    background-color: #d7d6d6;
    color: black;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.menu p {
    margin: 10px 0;
}
  
.menu p a {
    display: block;
    background-color: #55BCBC;
    padding: 8px;
    width: 140px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
    transition: 0.6s;
}

.menu p a:hover {
    background-color: #227d7d;
    color: white;
}

.menu-option {
    margin-top: 200px;
}

/*-----user info styling-----*/
.user-info {
    position: absolute;
    top: 90px;
    right: 8px;
    padding: 5px;
    background-color: #55BCBC;
    border-radius: 5px;
    transition: 0.6s;
}

.user-info:hover {
    background-color: #227d7d;
    color: white;
    cursor: pointer;
}
  
#user-info-style {
    width: 170px;
}
  
.user-info p {
    margin: 0;
    padding: 0;
}
  
#user-container {
    display: none;
    background-color: #55BCBC;
    color: black;
    padding: 20px;
    border-radius: 5px;
    height: 200px;
    width: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#users-in-chat {
    overflow-y: scroll;
    height: 130px;
    margin: 0 auto;
    text-align: center;
}

#users-in-chat ul {
    padding: 0;
    margin: 0;
}

#users-in-chat ul li {
    list-style: none;
    text-align: center;
}

#users-title {
    margin-top: 30px;
    text-align: center;
    font-weight: 700;
}

#users-in-chat {
    margin-bottom: 30px;
}

#close-list {
    position: absolute;
    top: 5px; 
    right: 5px; 
    font-size: 16px;
    background-color: #227d7d;
    padding: 5px 8px 5px 8px;
    border: none;
    border-radius: 2px;
    transition: 0.6s;
  }

#close-list:hover {
    background-color: #55BCBC;
    cursor: pointer;
}

/*-----theme page styling-----*/
.theme-container {
    background-color: #efefef;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 200px;
}

#theme-description {
    margin-top: 20px;
}

#theme-toggle {
    border: none;
    border-radius: 2px;
    text-align: center;
    padding: 7px 15px 7px 15px;
    background-color: #55BCBC;
    transition: 0.6s;
    margin: 0 auto;
}  

#theme-toggle:hover {
    background-color: #227d7d;
    color: white;
    cursor: pointer;
}

/*-----help page styling-----*/
.help-container {
    background-color: #efefef;
    padding: 5px;
    border-radius: 5px;
}

#common-questions {
    text-align: center;
    margin-bottom: 20px;
}

#help-title {
    text-align: center;
}
  
.all-questions {
    overflow-y: scroll;
    height: 390px;
}

/*-----system status styling-----*/
.system-container {
    background-color: #efefef;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.system-title {
    margin-bottom: 20px;
}

.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #8acf8d;
}

.front-or-back {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}




