html {
    width: 400px;
    height: 600px;
}

.title {
    text-align: center;
    background-color: #55BCBC;
    padding: 8px;
    margin-bottom: 10px;
}

/*---index page button styling---*/
.index-button-container {
    text-align: center;
    padding-top: 150px;
}

#button-one {
    width: 75%;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #55BCBC;
    border-radius: 5px;
    margin-bottom: 15px;
}

#button-one:hover {
    background-color: #227d7d;
    color: white;
}

/*---chat page styling---*/
/*.user-info {
    background-color: #c1c1c1;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 369px;
    margin-bottom: 5px;
}*/

.type-message {
    width: 76%;
}

.send-message {
    width: 20%;
    cursor: pointer;
    border: none;
    background-color: #55BCBC;
    border-radius: 5px;
    height: 25px;
    margin-left: 5px;
}

.send-message:hover {
    background-color: #227d7d;
    color: white;
}

.info-container {
    display: flex;
}

#form {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    padding: 8px;
    margin-left: 5px;
    display: flex; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px);
}

#messages { 
    list-style-type: none; 
    margin-bottom: 10px; 
    padding: 0; 
    height: 300px;
}

#messages > li { 
    padding: 0.5rem 1rem; 
}

#messages > li:nth-child(odd) { 
    background: #efefef; 
}

.message-container {
    overflow-y: auto;
    height: 340px;
}

/*---error styling---*/
.username-error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fd9090;
    text-align: center;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat-errors {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fd9090;
    text-align: center;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-----file sharing styling-----*/
.file-upload-button {
    position: fixed; 
    bottom: 50px; 
    left: 10px; 
    padding: 8px;
    margin-left: 5px;
    background-color: #0f83ff;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.file-upload-button:hover {
    background-color: #9bcbff;
    color: black;
}
  
input[type="file"] {
    display: none;
}

/*-----menu styling-----*/
#chat-menu {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    background-color: #f1f1f1;
    overflow-x: hidden;
    transition: 0.5s;
}

#menu-button {
    position: fixed;
    z-index: 1;
    top: 30px;
    left: 20px;
}

#openbtn {
    background-color: #efefef;
    border: none;
    border-radius: 2px;
    padding: 5px 8px 5px 8px;
    font-size: 16px;
}

#openbtn:hover {
    background-color: #c0bebe;
    cursor: pointer;
}

#closebtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 5px 8px 5px 8px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    background-color: #c0bebe;
    border-radius: 2px;
}

#closebtn:hover {
    background-color: #d7d6d6;
    color: black;
}

.menu p a {
    display: block;
    background-color: #55BCBC;
    padding: 5px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.menu p a:hover {
    background-color: #227d7d;
    color: white;
}

.menu-option {
    margin-top: 200px;
}

/*-----user info styling-----*/
.user-info {
    width: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    z-index: 1;
    background-color: #f1f1f1;
    border-radius: 5px;
    overflow-x: hidden;
}

#open-user-info {
    padding: 8px;
    border-radius: 5px;
    background-color: #55BCBC;
    color: black;
    border: none;
}

#open-user-info:hover {
    background-color: #227d7d;
    color: white;
    cursor: pointer;
}

#user-info-style {
    padding: 20px;
}

#close-user-info {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 5px 8px 5px 8px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    background-color: #c0bebe;
    border-radius: 2px;
}

#close-user-info:hover {
    background-color: #d7d6d6;
    color: black;
}

#user-info-button {
    height: 30px;
}